.main-page__content {
    padding: 42px calc(50% - 500px);
    display: flex;
    justify-content: space-between;
}

.main-page__main-section {
    padding-left: 40px;
    box-sizing: border-box;
    width: 60%;
}

.main-page__search-box {
    margin-bottom: 35px;
}

.main-page__favorites {
    width: 35%;   
}

@media only screen and (max-width: 800px) {
    .main-page__content {
        padding: 42px calc(50% - 500px);
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .main-page__main-section{
        margin: 0 auto;
        padding-left: 0;
        width: 50vw;
    }

    .search-box__form-input{
        width: 20vw;
    }

    .main-page__favorites{
        width: 80vw;
        margin-bottom: 50px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}